<div class="wrapper-md">
      <div class="panel panel-default cell">
            <div class="panel-heading">
                  <button class="btn m-b-xs w-xs btn-info" ng-click="add()">新增</button>
                  <button class="btn m-b-xs w-xs btn-info" ng-click="edit()">编辑</button>
                  <button class="btn m-b-xs w-xs btn-info" ng-click="delete()">删除</button>
                  <button class="btn m-b-xs w-xs btn-info" ng-click="mgPermission()">分配权限</button>
            </div>
            <div class="panel-body">
                  <div>
                        <div class="table-hover">
                              <table class="table table-hover b-t b-light">
                                    <thead>
                                          <tr>
                                                <th class="text-center">工号</th>
                                                <th class="text-center">用户姓名</th>
                                                <th class="text-center">登录账户</th>
                                                <th class="text-center">性别</th>
                                                <th class="text-center">职称</th>
                                                <th class="text-center">状态</th>
                                                <th class="text-center">备注</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          <tr ng-class="{true: 'active', false: 'inactive'}[row==selectRow]" ng-repeat="row in userData track by $index"  ng-click="rowSelect(row)">
                                                <td><span class="text-ellipsis text-center">{{row.workNo}}</span></td>
                                                <td><span class="text-ellipsis text-center">{{row.name}}</span></td>
                                                <td><span class="text-ellipsis text-center">{{row.account}}</span></td>
                                                <td><span class="text-ellipsis text-center">{{row.sex}}</span></td>
                                                <td><span class="text-ellipsis text-center">{{row.title}}</span></td>
                                                <td><span class="text-ellipsis text-center">{{row.status}}</span></td>
                                                <td><span class="text-ellipsis text-center">{{row.desc}}</span></td>
                                          </tr>
                                    </tbody>
                              </table>
                              <tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                  </div>
            </div>
      </div>

      <div class="modal fade" id="userModal" tabindex="-1" role="dialog" ng-show="true" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                  <div class="modal-content">
                        <div class="modal-header">
                              <button type="button" class="close"data-dismiss="modal" aria-hidden="true">
                                    &times;
                              </button>
                              <h6 class="modal-title font-bold">
                                    Information
                              </h6>
                        </div>
                        <div class="modal-body">
                              <form class="bs-example form-horizontal">
                                    <div class="form-group">
                                          <label class="col-lg-3 control-label">用户工号</label>
                                          <div class="col-lg-9">
                                                <input type="text" class="form-control">
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <label class="col-lg-3 control-label">用户姓名</label>
                                          <div class="col-lg-9">
                                                <input type="text" class="form-control">
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <label class="col-lg-3 control-label">登录账号</label>
                                          <div class="col-lg-9">
                                                <input type="text" class="form-control">
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <label class="col-lg-3 control-label">登录密码</label>
                                          <div class="col-lg-9">
                                                <input type="password" class="form-control">
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <label class="col-lg-3 control-label">性别</label>
                                          <div class="col-lg-9">
                                                <label class="i-checks i-checks-sm">
                                                      <input type="radio" name="a" value="male">
                                                      <i></i>
                                                      男
                                                </label>
                                                <label class="i-checks i-checks-sm">
                                                      <input type="radio" name="a" value="female">
                                                      <i></i>
                                                      女
                                                </label>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="col-lg-offset-3 col-lg-9">
                                                <div class="checkbox">
                                                      <label class="i-checks">
                                                            <input type="checkbox" checked=""><i></i>是否有效
                                                      </label>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <label class="col-lg-3 control-label">备注</label>
                                          <div class="col-lg-9">
                                                <textarea rows="3" class="form-control"></textarea>
                                          </div>
                                    </div>
                              </form>
                        </div>
                        <div class="modal-footer text-center">
                              <button type="button" class="btn btn-sm btn-info w-xs" data-dismiss="modal">Save</button>
                              <button type="button" class="btn btn-sm btn-info w-xs"  data-dismiss="modal" ng-click="deleteItem()">Cancle</button>
                        </div>
                  </div>
            </div>
      </div>

</div>