<div class="app app-header-fixed">
    <!-- header -->
    <header id="header" class="app-header navbar header-bg" >
        <div class="wrapper-xs ">
            <div class="pull-left hidden-xs">
                <div class="inline" >
                    <img width="173" height="50" src="../img/logo2.png" alt=".">
                </div>
                <div class="inline m-l-md font-bold sys-name">
                    上海威友管理平台
                </div>
            </div>
            <div class="pull-right hidden-xs">
                <div class="inline m-r-md">
                    <span class="sys-opera-span"><i class="icon-home"></i>&nbsp;首页信息</span>
                </div>
                <div class="inline m-r-md">
                    <span class="sys-opera-span"><i class="icon-settings"></i>&nbsp;控制面板</span>
                </div>
                <div class="inline m-r-md">
                    <span class="sys-opera-span"><i class="icon-power"></i>&nbsp;安全退出</span>
                </div>
            </div>
            <div class="font-bold text-center font-normal visible-xs" style="line-height: 80px;">
                上海威友管理平台
            </div>
        </div>
    </header>
    <!-- / header -->

    <!-- content -->
    <div id="content" class="app-content" >
        <div class="main-opera-content">
            <ul class="nav nav-tabs b-3x mainboard-nav">
                <li class="m-r-md">
                    <button class="hidden-xs btn m-b-xs w-xs btn-primary btn-rounded m-l-md" data-toggle="dropdown" aria-expanded="false">菜单<span class="caret"></span></button>
                    <!-- menu -->
                    <div class="dropdown-menu row nav-bg nav-mwidth">
                        <div class="wrapper b-b col-md-12 bg-light">
                            欢迎您, Warren【admin】
                        </div>
                        <ul class="nav nav-bg col-sm-6">
                            <li ng-mouseover="nodeHoverEvent(parentNode)" class="" ng-repeat="parentNode in nodeArray">
                                <a href=""  class="auto">
                          <span class="pull-right text-muted">
                            <i class="fa fa-fw fa-angle-right text"></i>
                            <i class="fa fa-fw fa-angle-down text-active"></i>
                          </span>
                                    <i class="glyphicon glyphicon-th"></i>
                                    <span>{{parentNode.text}}</span>
                                </a>
                            </li>
                            <li class="line dk hidden-folded"></li>
                        </ul>
                        <ul ng-show="childNodeArray && childNodeArray.length>0" class="nav nav-bg col-sm-6">
                            <li class="" ng-repeat="childNode in childNodeArray">
                                <a href="" class="auto">
                                    <span>{{childNode.text}}</span>
                                </a>
                            </li>
                            <li class="line dk hidden-folded"></li>
                        </ul>
                    </div>
                    <!-- /menu -->
                </li>
                <li class="active" ui-sref=".desktop" ><a href="##" data-toggle="tab">个人桌面</a></li>
                <li class="m-l-md">
                    <a href="#" data-toggle="tab">
                        <span>员工管理</span>
                    </a>
                    <button type="button" ng-class="" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
        </div>
        <div data-ui-view="mainboard" class="wrapper dafifo-app-content" ></div>
    </div>
    <!-- /content -->

    <!-- footer -->
    <footer id="footer" class="app-footer">
        <div class="row wrapper b-t">
            <div class="col-md-5 row hidden-xs">
                <span class="font-bold app-footer-span">
                    技术支持：上海威友企业管理
                </span>
                <span class="font-bold app-footer-span">
                    专业版V1.0.0
                </span>
                <span class="font-bold app-footer-span">
                    问题反馈
                </span>
            </div>
            <div class="col-md-2 font-bold hidden-xs ">
                © 2016 Copyright.
            </div>
            <div class="col-md-5 hidden-xs text-right">
                <span class="font-bold app-footer-span">
                    操作员：warren[admin]
                </span>
                <span class="font-bold app-footer-span">
                    所在部门：人事部
                </span>
                <span class="font-bold app-footer-span">
                    在线人数：7
                </span>
            </div>
            <div class="visible-xs col-xs-12 text-center font-bold">
                    操作员：warren[admin]
            </div>
        </div>
    </footer>
    <!-- / footer -->

</div>